.styleCard {
  position: relative;
  margin-block-end: var(--spacing-l);
  padding: var(--spacing-l);
  border-radius: 4px;
  box-shadow: 0 2px 5px #0000001a;
  transition: border 0.2s var(--material-ease);
}

.styleCard[data-status="invalid"] {
  border: 1px solid var(--alert-color);
}

.content {
  margin: 2em 0;
}

.header {
  /* overwrite margin-bottom of DatoCMS default section Header */
  margin-bottom: 0 !important;
}
.header::before {
  content: none !important;
}

.deleteButton {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  background: none;
  margin: var(--spacing-m);
}
